<wicket:panel>
    <!--
    
    <div class="dropdown">
        <button wicket:id="" class="btn btn-default dropdown-toggle" 
                type="button" id="notelist" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="true">
                 <span class="glyphicon glyphicon-comment notif"></span>
                 <sup>12</sup>
               
    <span class="caret"></span>
  </button>
       
        
        <ul class="dropdown-menu" aria-labelledby="notelist">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
        </ul>
    </div>-->
    
    
    
</wicket:panel>


