<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
">
    
    <aop:aspectj-autoproxy/>
  <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"/>
  <aop:config>
    <aop:pointcut id="servicePointcut" expression="execution(* edu.esiba.manager.service.*.*(..))"/>
    <!--<aop:aspect id="loggingAspect" ref="appLogger">
      <aop:before method="logMethodEntry" pointcut-ref="servicePointcut"/>
      <aop:after-returning method="logMethodExit" returning="result"
    pointcut-ref="servicePointcut"/>
    </aop:aspect>-->
  </aop:config>

</beans>
